body {
    background-color: black;
}

marquee {
    background-color: yellow;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.p1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}